extends layout.pug

block content
  h1.mt-5 New Entry
  br
  form(method="POST")
    .form-group
      label(for='weight') Weight(lbs)
      input#name.form-control(type='number', placeholder='Enter your weight.', name="weight", value=review.weight)
    .form-group
      label(for='height') Height(in)
      input#author.form-control(type='number', placeholder='Enter your height.', name="height", value=review.height)
    br
    button.btn.btn-primary(type='submit') Calculate BMI Now!
