extends layout.pug

block content
  h1.mt-4 With the weight and height you gave, your BMI is:
  h3.mt-5= "Weight:" + review.weight
  h3.mt-5= "Height:" + review.height
  h3.mt-5= "BMI:" + review.bmi
  br
  br
  form(action='/person-health-situation/' + review.id + '/delete' method="POST")
      button.btn.btn-danger(type='submit') Delete Entry.
      a.btn.btn-warning(href='/person-health-situation/' + review.id + '/update' style='margin-left: 25px') Update Entry.
  script.
   var logout = document.getElementById("logout");
   function logoutAlert() {
   alert("You are logging out now. Come back again!");
   };
   logout.addEventListener("click", logoutAlert);
