extends layout.pug

block content
  h1.mt-4 New Entry
  br
  form(method="POST")
    .form-group
      label(for='weight') Weight(lbs)
      input#name.form-control(type='number', placeholder='Enter your weight.', name="weight", value=review.weight)
    .form-group
      label(for='height') Height(in)
      input#author.form-control(type='number', placeholder='Enter your height.', name="height", value=review.height)
    br
    button.btn.btn-success(type='submit') Calculate BMI Now!
  script.
    var logout = document.getElementById("logout");
    function logoutAlert() {
    alert("You are logging out now. Come back again!");
    };
    logout.addEventListener("click", logoutAlert);
