extends indexlayout.pug

block content
  h1.mt-5 Welcome to EZ Weight Tracker!
  h4.mt-5 This website has been brought to you by Nicolas Mares, Junhua Dong, and Tony Nguyen.
  br
  p To begin tracking your weight, please navigate to our Login page!
