extends indexlayout.pug

block content
  h1.mt-4 Welcome to EZ BMI Tracker!
  h4.mt-4 To begin tracking your weight, please navigate to our Login page!
  br
  br
  p This website has been brought to you by: Nicolas Mares, Junhua Dong, and Tony Nguyen.
