extends layout.pug

block content
  h1 Glad to have you back!
  h2.mt-3 Start by pressing 'NEW' to enter your current Height and Weight.
  br
  h5.mt
    li As you continue to add more and more entries, you can evaluate and address your weight goals.
    li By selecting 'RESULT', you can see all of your current entries
