extends layout.pug

block content
  h1.mt-5 Welcome!

    h3.mt-5 Please start by pressing 'NEW' to enter your current Height and Weight.
      h5.mt
      li As you continue to add more and more entries, you can evaluate and address your weight goals.
      li By selecting 'RESULT', you can see your current entries
