extends profilelayout.pug

block content
  h1.mt-4 Glad to have you back!
  br
  h3.mt-3 Start by pressing 'New Data Entry' at the top to enter your current height and weight.
  br
  h5.mt
    li As you continue to add more and more entries, you can evaluate and address your weight goals.
    br
  h3.mt-3 By clicking 'Result' at the top you can see all of your current entries.
  script.
   var logout = document.getElementById("logout");
   function logoutAlert() {
   alert("You are logging out now. Come back again!");
   };
   logout.addEventListener("click", logoutAlert);
